.main-container {
  width: 90%;
  bottom: 0;
  left: 0;
}

footer {
  text-align: center;
  padding: .9rem 0;
  background-color: black;
  color: #fff;
  font-size: 14px;
  font-family: "Arial", sans-serif;
  border-top: 1px solid #333;
}

footer a {
  color: #ffcc00;
  text-decoration: none;
  margin: 0 2px;
}

footer a:hover {
  text-decoration: underline;
}
